{% extends 'index.html' %}
{% load static %}

{% block head_list %}
<link href="{% static 'css/mystyle.css' %}" rel="stylesheet" />
<script src="{% static 'js/report.js' %}"></script>
{% endblock %}

{% block title %}Detalle de compras a proveedores con su monto total{% endblock %}


{% block main_area %}
<br>
    <h3>DETALLE DE COMPRAS Y MONTOS A PROVEEDORES </h3>

    <hr><br>
    <div class="card-primary" >
      <div class="card-body">
        <table id="example" class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><div align="center">PROVEEDOR</div></th>
              <th scope="col"><div align="left">PRODUCTO</div></th>
              <th scope="col"><div align="left">MONTO DE COMPRA</div></th>
            </tr>
          </thead>
          <tbody>
          {% for elem in data %}
            <tr>
              <td><div align="left" style="font-size: 18px;">   {{ elem.0 }}</div></td>
              <td><div align="left" style="font-size: 18px;">   {{ elem.2 }}</div></td>
              <td><div align="left" style="font-size: 18px;"> $ {{ elem.1 }}</div></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% endblock %}