{% extends 'index.html' %}

{% block title %}Detalle de compras a proveedores con su monto total{% endblock %}

{% block main_area %}
    <h3>Detalle de compras a proveedores con su monto total</h3>

    <hr>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Proveedor</th>
          <th scope="col">Monto de compra</th>
          <th scope="col">Producto comprado</th>
        </tr>
      </thead>
      <tbody>
      {% for elem in data %}
        <tr>
          <td>{{ elem.0 }}</td>
          <td>{{ elem.1 }}</td>
          <td>{{ elem.2 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}