{% extends 'index.html' %}
{% load static %}

{% block head_list %}
<link href="{% static 'css/mystyle.css' %}" rel="stylesheet" />
<script src="{% static 'js/report.js' %}"></script>
{% endblock %}

{% block title %}Detalle de costo por actividad por cada molino{% endblock %}

{% block main_area %}

<br>
    <h3>COSTO PROMEDIO DE ACTIVIDADES POR MOLINO </h3>

    <hr><br>
    <div class="card-primary" >
      <div class="card-body">
        <table id="example" class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><div align="center">MOLINO</div></th>
              <th scope="col"><div align="center">ACTIVIDAD</div></th>
              <th scope="col"><div align="center">MONTO TOTAL</div></th>
            </tr>
          </thead>
          <tbody>
          {% for elem in data %}
            <tr>
              <td><div align="center" style="font-size: 18px;">   {{ elem.0 }}</div></td>
              <td><div  style="font-size: 18px;">                 {{ elem.1 }}</div></td>
              <td><div align="center" style="font-size: 18px;">   $ {{ elem.2 }}</div></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% endblock %}