{% extends 'index.html' %}

{% block title %}Cantidad de productos por categoria{% endblock %}

{% block main_area %}
    <h3>Cantidad de productos por categoria</h3>

    <hr>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Cantidad de productos</th>
        </tr>
      </thead>
      <tbody>
      {% for elem in data %}
        <tr>
          <td>{{ elem.0 }}</td>
          <td>{{ elem.1 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}