{% extends 'index.html' %}

{% block title %}Promedio de costo de actividades por molino{% endblock %}

{% block main_area %}
    <h3>Promedio de costo de actividades por molino</h3>

    <hr>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Molino</th>
          <th scope="col">Costo de actividades</th>
        </tr>
      </thead>
      <tbody>
      {% for elem in data %}
        <tr>
          <td>{{ elem.0 }}</td>
          <td>{{ elem.1 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}